@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../assets/wallpaperflare.com_wallpaper.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
  background: white;
  box-shadow: -3px -7px 31px 4px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: -3px -7px 31px 4px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: -3px -7px 31px 4px rgba(0, 0, 0, 0.26);
}

/* Navigation Styling */

.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.navLogo {
  width: 200px;
}

.navLinks {
}

.nav__link {
  font-size: 20px;
  transition: all 300ms ease;
}

.nav__link:hover {
  transform: scale(1.09);
}

.nav_list_links {
  display: none;
  list-style: none;
  gap: 30px;
  font-weight: 700;
  font-size: 18px;
}

.btn-menu {
  border: none;
  background: transparent;
  font-size: 26px;
  cursor: pointer;
  transition: all 300ms ease;
}
.btn-menu:hover {
  transform: scale(1.1);
}

.modal_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .nav_list_links {
    display: flex;
  }

  .btn-menu {
    display: none;
  }
}

/* Home Page */

.pictureHomeContainer {
  display: flex;
  width: 100%;
  height: 400px;
  padding: 0px;
  position: relative;
}

.link {
  outline: none;
  text-decoration: none;
  color: black;
}

.imgSource {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
}

.btnPictureHome {
  position: absolute;
  top: 30%;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 700;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  transition: all 300ms ease;
}

.btnPictureHome:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .btnPictureHome {
    left: 40%;
  }
}

@media screen and (min-width: 1068px) {
  .btnPictureHome {
    left: 45%;
  }
}

/* Dog Card Component and Section */

.headerSection {
  margin-top: 40px;
}

.text-Header {
  position: absolute;
  display: block;
  z-index: 2;
  top: 25%;
  left: 25%;
  text-align: center;
  color: white;
}

.header_Title .header_subTitle {
  text-shadow: 1px 0px 0px black, /* Right shadow */ -1px 0px 0px black,
    /* Left shadow */ 0px 1px 0px black, /* Bottom shadow */ 0px -1px 0px black; /* Top shadow */
  color: white;
}

.header_Title {
  text-align: center;
  color: white;
  font-size: 32px;
  position: absolute;
  width: 200px;
  top: 50%;
  left: 40%;
  z-index: 9999;
}

@media screen and (min-width: 768px) {
  .text-Header {
    left: 40%;
  }

  .header_Title {
    font-size: 52px;
    width: 400px;
  }
  .header_subTitle {
    font-size: 42px;
  }
}

@media screen and (min-width: 1280px) {
  .text-Header {
    top: 20%;
    left: 31%;
  }
}

.dogsSection {
  padding-bottom: 20px;
}

.searchWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.inputSearch {
  width: 350px;
  padding: 10px;
  height: 25px;
  border-radius: 20px;
}

.selectFilter {
  width: 150px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

.dogsTitle {
  font-size: 42px;
  font-weight: 900;
  text-align: center;
}

.dogsContainer {
  display: block;
}

.btnDogs {
  width: 100px;
  align-self: center;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: all 300ms ease;
}

.btnDogs:hover {
  transform: scale(1.05);
  box-shadow: -3px -7px 36px -6px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: -3px -7px 36px -6px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: -3px -7px 36px -6px rgba(0, 0, 0, 0.13);
}

.dogsCardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.dog {
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  border: 1px solid black;
  padding: 3px;
  background-color: black;
  border-radius: 10px;
}

.dogName {
  color: white;
  text-align: center;
  margin: 0;
  font-weight: 400;
}

.dogWrapper {
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.dogWrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 2;
}

.cardImg {
  width: 100%;
  float: left;
  height: 350px;
  object-fit: cover;
  transition: all 300ms ease;
}

.breedName {
  color: white;
  font-size: 16px;
}

.dog:hover .dogWrapper:before {
  opacity: 0.7;
}

.dog:hover .dogDescription {
  opacity: 1;
  transform: translateY(-50%);
}

.dog:hover .cardImg {
  transform: scale(1.07);
  filter: blur(5px);
}

.dogDescription {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 1;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

/* Explore Page */

.explorePage {
  padding: 0 40px;
  flex-grow: 1;
  margin-top: 40px;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.subBreed_td {
  color: black;
}

.tableRow {
  margin-bottom: 20px;
}

.tableRow h1 {
  text-align: center;
}

/* Footer */
footer {
  background-color: #242424;
  position: relative;
  z-index: 100;
}

.footer__social--list {
  margin-bottom: 20px;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2% 0;
}

.footer__logo--img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.footer_social--list-wrapper {
  width: 40%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer__social--link,
.footer__copyright {
  color: white;
  padding: 10px;
  cursor: not-allowed;
}

.footer__logo--popper {
  color: white;
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer_anchor {
  position: relative;
  margin-bottom: 20px;
}

.footer_anchor:hover .footer__logo--popper {
  transform: translateX(60px);
  opacity: 1;
}

/* Modal Form CSS */

.btn__modal_Create {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn__modal_Create:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.btn__modal_Create::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.btn__modal_Create:hover::before {
  width: 250%;
}

.dogsForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dogForm__label {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
}

.dogsForm__input {
  padding: 5px;
  font-size: 12px;
  border-radius: 1px;
  border: none;
  border-bottom: 1px solid black;
}

.dogForm__PictureWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.dogForm__Picture {
  display: flex;
  width: 100%;
}

.dogForm__ImgSRC {
  width: 30px;
  height: 30px;
  transition: all 300ms ease;
}

.table_Btn {
  width: fit-content;
  min-width: 70px;
  height: 45px;
  padding: 8px;
  border-radius: 5px;
  border: 2.5px solid #e0e1e4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: "Poppins", sans-serif;
  margin-right: 5px;
}

.tableBtnWrapper {
  display: wrap;
}

.table_Btn:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 20px -18px;
}

.table_Btn:active {
  transform: scale(0.95);
}

@media screen and (min-width: 768px) {
  .dogsForm__input {
    padding: 10px;
    font-size: 20px;
    border-radius: 1px;
    border: none;
    border-bottom: 1px solid black;
  }
  .dogForm__label {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
  }

  .dogForm__PictureWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .dogForm__ImgSRC {
    width: 80px;
    height: 80px;
    transition: all 300ms ease;
  }

  .dogsForm__input {
    padding: 10px;
    font-size: 20px;
    border-radius: 1px;
    border: none;
    border-bottom: 1px solid black;
  }
}

.dogForm_checkbox {
  width: 25px;
  cursor: pointer;
  transition: all 300ms ease;
}

.checkActive {
  transform: scale(0.8);
  filter: grayscale(65%) brightness(102%) saturate(96%) contrast(111%)
    drop-shadow(-1px 10px 20px rgba(12, 129, 138, 0.53));
  -webkit-filter: grayscale(65%) brightness(102%) saturate(96%) contrast(111%)
    drop-shadow(-1px 10px 20px rgba(12, 129, 138, 0.53));
  -moz-filter: grayscale(65%) brightness(102%) saturate(96%) contrast(111%)
    drop-shadow(-1px 10px 20px rgba(12, 129, 138, 0.53));
}

.dogForm_checkbox:hover {
  transform: scale(1.05);
  filter: drop-shadow(-0.5px 5px 1px #000000);
}

.btn__form {
  --color: #00a97f;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  width: 150px;
  align-self: center;
}

.btn__form::before,
.btn__form::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.btn__form::before {
  top: -1em;
  left: -1em;
}

.btn__form::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.btn__form:hover::before,
.btn__form:hover::after {
  height: 410px;
  width: 410px;
}

.btn__form:hover {
  color: rgb(10, 25, 30);
}

.btn__form:active {
  filter: brightness(0.8);
}

/* Table Dogs */

.img__formList {
  width: 30px;
  height: 30px;
  margin: 1px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 30px;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
